################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Workout/.vs/Workout
/Workout/Workout.API/bin
/Workout/Workout.API/obj
/Workout/Workout.Domain/bin
/Workout/Workout.Domain/obj
/Workout/Workout.Infra/bin
/Workout/Workout.Infra/obj
/Workout.Tests/Workout.IntegrationTests/bin
/Workout.Tests/Workout.IntegrationTests/obj
/Workout.Tests/Workout.UnitTests/bin
/Workout.Tests/Workout.UnitTests/obj